.App {
  font-family: sans-serif;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin-top: 50px;
}

#username,
#password {
  width: 300px;
}
